/* Write your CSS here */
.app-container {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-card-container {
  background-color: #150b3e;
  border-radius: 5px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name-container {
  display: flex;
}
.letter-style {
  color: #585076;
  background-color: #c7d2fe;
  font-size: 18px;
  font-weight: 500;
  padding: 20px;
  border-radius: 40px;
  width: 65px;
  text-align: center;
}
.name {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  color: #c7d2fe;
  margin-left: 10px;
}
.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.balance-text {
  color: #585076;
  font-size: 19px;
  font-weight: 400;
}
.rupees-status-container {
}
.balance-status {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.in-rupees {
  color: #585076;
  font-size: 12px;
  font-weight: 400;
}
.withdraw-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 12px;
}
.para {
  color: #585076;
  font-size: 16px;
  font-weight: 600;
}
.denomination-buttons-container {
  display: flex;

  flex-wrap: wrap;
}
